<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NG React</title>
  <style>
    section {
      margin: 20px;
      border: 5px solid red;
      padding: 20px;
    }
  </style>
</head>
<body>
  <section id="react-app1"></section>
  <section id="react-app2"></section>
  <section id="ng-app2">
    <ui-view></ui-view>
    <script type="text/ng-template" id="home.tmpl.html">
      <div>
        <span>{{vm.title}}</span>
        <div>{{vm.welcome}}</div>
        <my-comp></my-comp>
        <my-ng-react-comp> </my-ng-react-comp>
        <a href="#/about" ui-sref="about"> About</a>
      </div>
    </script>

    <script type="text/ng-template" id="comp.tmpl.html">
      <div>
        {{$ctrl.hello}}
        <button ng-click="$ctrl.clickMe()">click me!</button>
        <my-child-component></my-child-component>
        <my-ng-react-comp> </my-ng-react-comp>
      </div>
    </script>
    <script type="text/ng-template" id="child.tmpl.html">
      <div><span>I am a child componet!</span></div>
    </script>
    <script type="text/ng-template" id="about.tmpl.html">
      <div>
        <span>{{vm.title}}</span>
        <div>{{vm.message}}</div>
      </div>
    </script>
  </section>


  <section id="ng-app1">
    <ui-view></ui-view>
    <script type="text/ng-template" id="app.tmpl.html">
      <div>
        <span>{{vm.hello}}&nbsp;{{vm.ngApp}}</span>
        <my-comp></my-comp>
        <my-ng-react-comp> </my-ng-react-comp>
        <a herf="#/contact" ui-sref="contact">Contact</a>
      </div>
    </script>
    <script type="text/ng-template" id="comp.tmpl.html">
      <div>
        {{$ctrl.hello}}
        <button ng-click="$ctrl.clickMe()">click me!</button>
        <my-child-component></my-child-component>
        <my-ng-react-comp> </my-ng-react-comp>
      </div>
    </script>
    <script type="text/ng-template" id="child.tmpl.html">
      <div>
        <span>I am a child componet!</span>
      </div>
    </script>
    <script type="text/ng-template" id="contact.tmpl.html">
      <div>
        <div>{{vm.title}}</div>
        <div>{{vm.company}}</div>
      </div>
    </script>
  </section>
</body>
</html>
